*

!.gitignore
!.editorconfig
!mise.toml
!lefthook.yaml
!dprint.json
!LICENSE
!README.md

!.github/
!.github/workflows/
!.github/workflows/*

!.mise/
!.mise/tasks/
!.mise/tasks/**

!.chezmoiroot

!home/
!home/.chezmoi.toml.tmpl
!home/.chezmoiignore
!home/.chezmoidata/
!home/.chezmoidata/*
!home/.chezmoiscripts/
!home/.chezmoiscripts/*/
!home/.chezmoiscripts/**
