{{- if eq .chezmoi.os "windows" -}}

# packages hash: {{ include ".chezmoidata/packages-windows.toml" | sha256sum }}
$ErrorActionPreference = "Stop"

{{- $winget := list -}}

{{- range $category, $entries := .packages.windows -}}
{{-   range $name, $info := $entries -}}
{{-     if eq $info.source "winget" -}}
{{-       $winget = append $winget $info.package -}}
{{-     end -}}
{{-   end -}}
{{- end }}

{{ range ($winget | sortAlpha | uniq) -}}
winget install --exact --id {{ . }} --silent --accept-source-agreements --accept-package-agreements --disable-interactivity --no-upgrade
if ($LASTEXITCODE -notin 0, -1978335135, -1978335189) { exit $LASTEXITCODE }
{{ end -}}

{{ end -}}
