{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# packages hash: {{ include ".chezmoidata/packages-linux.toml" | sha256sum }}
set -euo pipefail

{{ if .packages.linux.pacman -}}
sudo pacman -S --needed --noconfirm {{ range .packages.linux.pacman }}{{ . }} {{ end }}
{{ end -}}

{{ if .packages.linux.aur -}}
paru -S --needed --noconfirm --sudoloop {{ range .packages.linux.aur }}{{ . }} {{ end }}
{{ end -}}
{{ end -}}
