{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

{{ if .packages.linux.pacman -}}
sudo pacman -S --needed --noconfirm {{ range .packages.linux.pacman }}{{ . }} {{ end }}
{{ end -}}

{{ if .packages.linux.aur -}}
if command -v paru &>/dev/null; then
  paru -S --needed --noconfirm {{ range .packages.linux.aur }}{{ . }} {{ end }}
elif command -v yay &>/dev/null; then
  yay -S --needed --noconfirm {{ range .packages.linux.aur }}{{ . }} {{ end }}
fi
{{ end -}}
{{ end -}}
